asgiref==3.9.2
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
certifi==2025.6.15
cffi==2.0.0
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.2
constantly==23.10.4
crispy-bootstrap4==2024.1
crispy-bootstrap5==2025.6
cryptography==46.0.2
daphne==4.2.1
Django==5.1.4
django-crispy-forms==2.3
django-widget-tweaks==1.5.0
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
msgpack==1.1.1
mysqlclient==2.2.7
packaging==25.0
moviepy==2.1.1
pillow>=9.2.0,<11.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
redis==6.4.0
reportlab==4.4.4
requests==2.32.4
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.3
stripe==12.2.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
waitress==3.0.2
whitenoise==6.11.0
zope.interface==8.0.1
